body {
  margin: 0;
}
.content {
  background-color: #FFF;
  transition: background-color 1s;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hash {
  font-size: 2em;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgba(5, 5, 5, 0.1);
  text-align: center;
  background-color: #efefef;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.hash input {
  font-size: 0.7em;
  font-weight: bold;
  border-radius: 5px;
  padding: 1px 2px;
}
#curve_chart {
  width: 60%;
  margin: 0 auto;
}
.chart-container {
  transform: translateY(-3em);
  transition: transform 1s;
}
.chart-container:hover {
  transform: translateY(-100%);
}
.chart-arrow {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  font-size: 3em;
  width: 3em;
  margin: 0 auto;
  text-align: center;
}
